<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

   {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    
                    <div class="col-md-10 col-12 main_header_left">

                        <figure class="err_img">
                            <img src="images/404.jpg" alt="404" class="img-fluid" title="error" />
                        </figure>

                        <h1><span class="text_clr"> {{errorMsg}} </span></h1>
                        <a href="/"><button>Go Back</button></a>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>

</html>